//TOP LINE LOG-IN | LOG-OUT
.header-top
    a(class='header-top__link link--color-blue' href='#') Регистрация | Вход
    a(class='header-top__link link--color-blue' href='#')
        i(class='fab fa-vk fa-lg' aria-hidden='true')
    a(class='header-top__link link--color-blue' href='#')
        i(class='fab fa-instagram fa-lg' aria-hidden='true') 

//LOGO & NAVIGATION
.header-main
    div(class="container header-main__container")       
        div(class="logo")
            a(class="logo__link link--color-blue" href='#')
                img(src=require('./logo.png'), alt="Dream Tour", class="logo-pc")
                //img(src="./src/img/logo-mobile.png", alt="Dream Tour", class="logo-mobile")        
        nav(class="navigation")
            ul.menu
                each val in ['Главная', 'Страны', 'Туры', 'Услуги']                        
                    li.menu-li
                        if val=='Главная'
                            a(href="#" class="active menu__link link--color-blue ")= val 
                        else 
                            a(href="#" class="menu__link link--color-blue")= val 
                            if val== 'Страны'
                                ul(class="submenu")
                                    each country in ['Австралия', 'Австрия', 'Азербайджан', 'Андорра', 'Аргентина', 'Армения', 'Багамы', 'Бахрейн', 'Беларусь', 'Бельгия', 'Болгария', 'Бразилия', 'Великобритания', 'Венгрия', 'Вьетнам', '','','']
                                        <!--each flag in ['flag1.png'] //get flags!!!-->
                                            li.element                                                                                        
                                                img(src= "#", alt="flag", class="element__icon")  
                                                a(href="#" class=" link--color-blue submenu__link")= country 
                                
                                                                            
                                                


