//TOP LINE LOG-IN | LOG-OUT
.header__top
    a(class='link link-color-blue' href='#') Регистрация | Вход
    a(class='link link-color-blue' href='#')
        i(class='fab fa-vk fa-lg' aria-hidden='true')
    a(class='link link-color-blue' href='#')
        i(class='fab fa-instagram fa-lg' aria-hidden='true') 

//LOGO & NAVIGATION
.header-main
    div(class="container header-main__container")
        div(class="row header-main__row")    
            div(class="logo")
                a(class="link-color-blue" href='#')
                    img(src="../img/logo.png", alt="Dream Tour", class="logo-pc")
                    img(src="./src/img/logo-mobile.png", alt="Dream Tour", class="logo-mobile")
            nav(class="navigation header-main__navigation")
                a(href="#" class="navigation__link active link-color-blue") Главная
                a(href="#" class="navigation__link link-color-blue") Страны
                a(href="#" class="navigation__link link-color-blue") Туры
                a(href="#" class="navigation__link link-color-blue") Услуги