@import 'variables';

.home-body {
    background-color: $light-gray; 
    margin: 0;
}

.caption {
    padding-bottom: 10px;
    font-family: $captions-font;
    font-size: 27px;    

    &_center {
        text-align: center;
    }
}

.padding-top-bottom {
    padding-top: 20px;
    padding-bottom: 35px;
}
