//TOP LINE LOG-IN | LOG-OUT
.header__top
    a(class='link link-color-blue' href='#') Регистрация | Вход
    a(class='link link-color-blue' href='#')
        i(class='fab fa-vk fa-lg' aria-hidden='true')
    a(class='link link-color-blue' href='#')
        i(class='fab fa-instagram fa-lg' aria-hidden='true')        
