@keyframes slideInUpp {
    from {
      -webkit-transform: translate3d(0, 5%, 0);
      transform: translate3d(0, 5%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUpp {
    -webkit-animation-name: slideInUpp;
    animation-name: slideInUpp;
  }